# Application Variables
PORT=

# Frontend Variables
FRONT_END_BASE_URL=

# Apple Variables
APPLE_CLIENT_ID
APPLE_TEAM_ID
APPLE_KEY_ID
APPLE_PRIVATE_KEY
APPLE_CALLBACK_URL

# Google Variables
GOOGLE_CALLBACK_URL
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

# Email Variables
SUPPORT_NAME=
SUPPORT_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# JWT Variables
JWT_SECRET=
JWT_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=

# Database Variables
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_TYPE=
DATABASE_SYNCHRONIZE=
DATABASE_MIGRATIONS_RUN=

# Cache Variables
USE_LOCAL_MEMORY_CACHE_MANAGER
USE_LOCAL_MEMORY_CACHE_MANAGER
CACHE_MANAGER_PORT
CACHE_MANAGER_HOST
CACHE_MANAGER_PASSWORD

# AWS Variables
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

AMAZON_SP_API_CLIENT_ID=
AMAZON_SP_API_CLIENT_SECRET=
AMAZON_SP_API_REDIRECT_URI=
AMAZON_SP_API_BASE_URL=
AMAZON_SP_API_REFRESH_TOKEN=

# 2FA Variables
ENCRYPTION_KEY=

# Stripe Variables
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=